<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- v-if="条件" 
            Object.key(): 返回对象中所有key值
        
            template:  提高渲染速度, 可当做不可见的包裹元素
            类似小程序中的block
        -->
        <template class="info" v-if="Object.key(info).length">
            <h2>个人信息</h2>
            <ul>
                <li>{{info.name}}</li>
                <li>{{info.age}}</li>
            </ul>
        </template>

        <!-- v-else -->
        <template v-else>
            <h2>没有输入个人信息</h2>
            <p>输入后展示</p>
        </template>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    info: {name: "ee"}
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>