<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul v-if="names.length > 0">
            <li v-for="item in names">{{item}}</li>
        </ul>
        <h2 v-eles>当前data-name无数据</h2>
    </div> 

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data: function() {
                return {
                    names: ["aa", "ee"]
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>