<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            /* 边框合并 */
            border-collapse: collapse;
             }

        th, td {
            border: 1px solid #aaa;
            padding: 8px 16px;
            }

        .active {
            color: aquamarine;
        }
    </style>
</head>
<body>
    <div id="app">
        <template v-if="books.length">
            <table>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                      v-for="(item,index) in books"
                       :key="item.id"
                       @click="trTouch(index)"
                       :class="{ active: index === currentIndex }"
                       >
                       <!-- <td>{{index+1}}</td> -->
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <!-- 这里v-on绑定函数的item要与for遍历的item一致 -->
                            <!-- 属性的变化!!!! 绑定v-bind -->
                            <button :disabled="item.count <= 1" @click="decrement(index, item)">-</button>
                            {{item.count}}
                            <button @click="increment(index, item)">+</button>
                        </td>
                        <td>
                            <button @click="removeBooks(index)">移除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>总价: {{formatPrice(totalPrice)}}</h2>
        </template>
        <template v-else>
            <h1>暂无数据</h1>
        </template>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./data/data.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    books: books,
                    currentIndex: -1 
                }
            },

            methods: {
                // 封装RMB符号
                formatPrice(price) {
                    return "¥" + price
                },
                // 因为for...of...把所有item都绑定在一起
                // 要通过点击触发拿到对应的拿条数据
                // 必须有唯一的识别, v-on="函数(index, value)"是可以拿到
                // 对应索引或者具体触发的值的
                decrement(index, item) {
                    // 两种办法
                    // this.books[index],count--
                    item.count--
                },
                increment(index, item) {
                    // this.books[index],count++
                    item.count++
                },
                removeBooks(index) {
                    // 看到数组, 看到修改/删除/新增, 记得.splice
                    // 从index位置开始, 删除1个
                    this.books.splice(index, 1)
                },
                trTouch(index) {
                    console.log(index)
                    this.currentIndex = index
                }
            },

            computed: {
                totalPrice() {
                    // 用遍历计算总价
                    // price = 0
                    // for (const item of this.books) {
                    //     price += item.price * item.count
                    // }
                    // return price

                    // 用高阶函数计算
                    // 第一个参数： 上一个值, 起始为0
                    return this.books.reduce((preValue, item) =>  {
                        return preValue + item.price * item.count
                    }, 0)
                }
            }
        })
        app.mount("#app") 
    </script>
</body>
</html> 